.gallery__wrapper {
    width: 80%;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

.gallery-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 20px;
}

.slider-previous,
.slider-next {
    width: 200px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 3px;
}

.gallery__image {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-image: url('images/2.JPG');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

